Checks:             '
                      clang-diagnostic-*,
                      clang-analyzer-*,
                      -clang-analyzer-osx.cocoa*,
                      -clang-analyzer-cplusplus*,
                      -clang-analyzer-security.insecureAPI.strcpy, # strcpy_s is not available
                      readability-*,
                      modernize-*,
                      bugprone-*,
                      misc-*,
                      google-runtime-int,
                      -llvm-header-guard,
                    '
FormatStyle:        'file'
WarningsAsErrors:   '*'
CheckOptions:
  - key:            readability-braces-around-statements.ShortStatementLines
    value:          '1'
# HeaderFilterRegex:  '' # update it later to only generate warning from user code
